# CPP/NativeLib/.vs/
CPP/NativeLib/NativeLib/x64
CPP/BeginnerVillage/.mono/
CPP/.sconsign.dblite
*.obj
*.obj~87ca3a2c9bf89a538bb7ae5af917693352440899
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.opendb
'''
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db-shm
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db-wal
CPP/NativeLib/.vs/NativeLib/v16/.suo
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db-shm
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db-wal
CPP/NativeLib/NativeLib/NativeLib.vcxproj
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db
CPP/NativeLib/.vs/NativeLib/v16/.suo
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db
'''
CPP/NativeLib/.vs/NativeLib/v16/Browse.VC.db
