.vs/
CPP/BeginnerVillage/.mono/
CPP/BeginnerVillage/bin/win64/libgdexample.dll
CPP/.sconsign.dblite
CPP/NativeLib/NativeLib/x64/Debug/NativeLib.log
*.obj
*.obj~87ca3a2c9bf89a538bb7ae5af917693352440899
CPP/NativeLib/NativeLib/x64/Debug/NativeLib.log
